In [106]:
import pandas as pd
import os
os.chdir('E:\Internsips\AIChamps\AI Champs Screening Test\Task 2')
pd.set_option('display.max_colwidth',100)
data = pd.read_csv("Task2.csv")
data.columns = ['S_no.','Text']


#Removing Punctuations
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [107]:
def removepunct(text):
    txt_nopunct = "".join([c for c in text if c not in string.punctuation])
    return txt_nopunct

def removenums(text):
    txt_nonum = "".join([c for c in text if not c.isdigit()])
    return txt_nonum

data['no_punct_no_integers'] = data['Text'].apply(lambda x: removepunct(x))
data['no_punct_no_integers'] = data['Text'].apply(lambda x: removenums(x))
data.head()

,S_no.,Text,no_punct_no_integers
0,1,\nContact Vighnesh Sharma\nvighnesh.sharma.777@gmail.c\nom Transmission Engineer at Team Jaab...,\nContact Vighnesh Sharma\nvighnesh.sharma.@gmail.c\nom Transmission Engineer at Team Jaabaz ...
1,2,\nContact Ankit Athole\nankitathole257@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/...,\nContact Ankit Athole\nankitathole@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/ank...
2,3,\nContact Hriday Jain\njainhriday977@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain...,\nContact Hriday Jain\njainhriday@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain\n(...
3,4,\nContact Sankara Narayanan V\nabhinavsankar333@gmail.com\nHead of Sales Operations at Nelson...,\nContact Sankara Narayanan V\nabhinavsankar@gmail.com\nHead of Sales Operations at Nelsonin ...
4,5,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...

In [108]:
#Tokenizing Data
import re

def tokenize(text):
    tokens=re.split('\W+',text)
    return tokens

data['tokenized']= data['no_punct_no_integers'].apply(lambda x: tokenize(x.lower()))
data.head()

,S_no.,Text,no_punct_no_integers,tokenized
0,1,\nContact Vighnesh Sharma\nvighnesh.sharma.777@gmail.c\nom Transmission Engineer at Team Jaab...,\nContact Vighnesh Sharma\nvighnesh.sharma.@gmail.c\nom Transmission Engineer at Team Jaabaz ...,"[, contact, vighnesh, sharma, vighnesh, sharma, gmail, c, om, transmission, engineer, at, team, ..."
1,2,\nContact Ankit Athole\nankitathole257@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/...,\nContact Ankit Athole\nankitathole@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/ank...,"[, contact, ankit, athole, ankitathole, gmail, com, student, at, nit, raipur, www, linkedin, com..."
2,3,\nContact Hriday Jain\njainhriday977@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain...,\nContact Hriday Jain\njainhriday@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain\n(...,"[, contact, hriday, jain, jainhriday, gmail, com, old, ahmedabad, www, linkedin, com, in, hriday..."
3,4,\nContact Sankara Narayanan V\nabhinavsankar333@gmail.com\nHead of Sales Operations at Nelson...,\nContact Sankara Narayanan V\nabhinavsankar@gmail.com\nHead of Sales Operations at Nelsonin ...,"[, contact, sankara, narayanan, v, abhinavsankar, gmail, com, head, of, sales, operations, at, n..."
4,5,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,"[, contact, drishti, tibrewala, drishtitibrewala, yahoo, com, hr, intern, at, stratview, researc..."

In [118]:
#Removing stop words

import nltk
stopword = nltk.corpus.stopwords.words('english')
stopword.append('')

def rem_stopwords(toktext):
    clean = [word for word in toktext if word not in stopword]
    return clean

data['No_Stop_words']=data['tokenized'].apply(lambda x: rem_stopwords(x))
data.head()

,S_no.,Text,no_punct_no_integers,tokenized,No_Stop_words,Top_10_Most_Freq_Words
0,1,\nContact Vighnesh Sharma\nvighnesh.sharma.777@gmail.c\nom Transmission Engineer at Team Jaab...,\nContact Vighnesh Sharma\nvighnesh.sharma.@gmail.c\nom Transmission Engineer at Team Jaabaz ...,"[, contact, vighnesh, sharma, vighnesh, sharma, gmail, c, om, transmission, engineer, at, team, ...","[contact, vighnesh, sharma, vighnesh, sharma, gmail, c, om, transmission, engineer, team, jaabaz...","[transmission, team, vellore, jaabaz, baja, sae, technology, vighnesh, sharma, engineer]"
1,2,\nContact Ankit Athole\nankitathole257@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/...,\nContact Ankit Athole\nankitathole@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/ank...,"[, contact, ankit, athole, ankitathole, gmail, com, student, at, nit, raipur, www, linkedin, com...","[contact, ankit, athole, ankitathole, gmail, com, student, nit, raipur, www, linkedin, com, anki...","[raipur, , ankit, athole, com, linkedin, contact, ankitathole, gmail, student]"
2,3,\nContact Hriday Jain\njainhriday977@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain...,\nContact Hriday Jain\njainhriday@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain\n(...,"[, contact, hriday, jain, jainhriday, gmail, com, old, ahmedabad, www, linkedin, com, in, hriday...","[contact, hriday, jain, jainhriday, gmail, com, old, ahmedabad, www, linkedin, com, hridayjain, ...","[year, engineering, vellore, technology, experience, design, months, , com, linkedin]"
3,4,\nContact Sankara Narayanan V\nabhinavsankar333@gmail.com\nHead of Sales Operations at Nelson...,\nContact Sankara Narayanan V\nabhinavsankar@gmail.com\nHead of Sales Operations at Nelsonin ...,"[, contact, sankara, narayanan, v, abhinavsankar, gmail, com, head, of, sales, operations, at, n...","[contact, sankara, narayanan, v, abhinavsankar, gmail, com, head, sales, operations, nelsonin, r...","[com, nelsonin, research, year, india, engineering, head, operations, redoact, less]"
4,5,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,"[, contact, drishti, tibrewala, drishtitibrewala, yahoo, com, hr, intern, at, stratview, researc...","[contact, drishti, tibrewala, drishtitibrewala, yahoo, com, hr, intern, stratview, research, www...","[raipur, hr, , drishti, tibrewala, com, intern, stratview, research, linkedin]"

In [120]:
#Most Frequent words in each 

from collections import Counter

def freq(txt):
        most_common_words= [word for word, word_count in Counter(txt).most_common(10)]
        return most_common_words
    
data['Top_10_Most_Freq_Words']=data['No_Stop_words'].apply(lambda x: freq(x))

data.head()

,S_no.,Text,no_punct_no_integers,tokenized,No_Stop_words,Top_10_Most_Freq_Words
0,1,\nContact Vighnesh Sharma\nvighnesh.sharma.777@gmail.c\nom Transmission Engineer at Team Jaab...,\nContact Vighnesh Sharma\nvighnesh.sharma.@gmail.c\nom Transmission Engineer at Team Jaabaz ...,"[, contact, vighnesh, sharma, vighnesh, sharma, gmail, c, om, transmission, engineer, at, team, ...","[contact, vighnesh, sharma, vighnesh, sharma, gmail, c, om, transmission, engineer, team, jaabaz...","[transmission, team, vellore, jaabaz, baja, sae, technology, vighnesh, sharma, engineer]"
1,2,\nContact Ankit Athole\nankitathole257@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/...,\nContact Ankit Athole\nankitathole@gmail.com\nStudent at nit raipur\nwww.linkedin.com/in/ank...,"[, contact, ankit, athole, ankitathole, gmail, com, student, at, nit, raipur, www, linkedin, com...","[contact, ankit, athole, ankitathole, gmail, com, student, nit, raipur, www, linkedin, com, anki...","[raipur, ankit, athole, com, linkedin, contact, ankitathole, gmail, student, nit]"
2,3,\nContact Hriday Jain\njainhriday977@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain...,\nContact Hriday Jain\njainhriday@gmail.com\nOld Ahmedabad\nwww.linkedin.com/in/hridayjain\n(...,"[, contact, hriday, jain, jainhriday, gmail, com, old, ahmedabad, www, linkedin, com, in, hriday...","[contact, hriday, jain, jainhriday, gmail, com, old, ahmedabad, www, linkedin, com, hridayjain, ...","[year, engineering, vellore, technology, experience, design, months, com, linkedin, mechanical]"
3,4,\nContact Sankara Narayanan V\nabhinavsankar333@gmail.com\nHead of Sales Operations at Nelson...,\nContact Sankara Narayanan V\nabhinavsankar@gmail.com\nHead of Sales Operations at Nelsonin ...,"[, contact, sankara, narayanan, v, abhinavsankar, gmail, com, head, of, sales, operations, at, n...","[contact, sankara, narayanan, v, abhinavsankar, gmail, com, head, sales, operations, nelsonin, r...","[com, nelsonin, research, year, india, engineering, head, operations, redoact, less]"
4,5,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,\nContact Drishti Tibrewala\ndrishtitibrewala@yahoo.com\nHR Intern at Stratview Research\nwww...,"[, contact, drishti, tibrewala, drishtitibrewala, yahoo, com, hr, intern, at, stratview, researc...","[contact, drishti, tibrewala, drishtitibrewala, yahoo, com, hr, intern, stratview, research, www...","[raipur, hr, drishti, tibrewala, com, intern, stratview, research, linkedin, girl]"

In [122]:
# #Calculating the essential words

# import math
# from textblob import TextBlob as tb

# def tf(word,doc):
#     return doc.words.count(word)/len(doc.words)

# def contains(word,docs):
#     return sum(1 for doc in docs if word in doc.words)

# def idf(word,docs):
#     return math.log(len(docs)/ (1+ contains(word,docs)))

# def tfid(word,doc,docs):
#     return tf(word,doc) * idf(word,docs)

# docs=data['No_Stop_words']
# doc=

In [123]:
#Saving this csv
os.chdir('E:\Internsips\AIChamps\AI Champs Screening Test\Task 3')

data.to_csv('cleantrial1.csv',index=False)